<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PDF Darker By HMK CodeWeb</title>
    <!-- <link rel="shortcut icon" href="./PDFDarkerLogo.png" type="image/x-icon"> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='manifest.json') }}"
    />
    <meta name="theme-color" content="#171717" />
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />

    <style>
      .science-gothic-Font {
        font-family: "Science Gothic", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings: "slnt" 0, "wdth" 100, "CTRS" 0;
      }
    </style>
  </head>

  <body
    class="science-gothic-Font min-h-screen bg-neutral-900 text-white flex flex-col items-center p-4"
  >
    <!-- Navbar -->
    <div
      class="w-full flex-wrap gap-5 px-5 max-w-6xl flex items-center justify-between py-4 border-b border-neutral-700"
    >
      <div class="flex items-center space-x-2">
        <img src="./PDFDarkerLogo" height="30px" width="30px" alt="" />
        <span class="text-xl font-semibold text-white">PDF Darker</span>
      </div>

      <nav class="flex space-x-8 text-sm font-medium text-neutral-400">
        <a href="/" title="Home" class="hover:text-white transition">Home</a>
        <a href="/about" title="About Us" class="hover:text-white transition"
          >About Us</a
        >
        <a href="/view-pdf" title="Darker" class="hover:text-white transition"
          >View PDF</a
        >
        <a
          href="/compress-pdf"
          title="Darker"
          class="hover:text-white transition"
          >Compress PDF</a
        >
      </nav>
    </div>

    <!-- Main Container -->
    <div
      class="bg-neutral-800 shadow-xl rounded-2xl w-full max-w-4xl mt-10 border border-neutral-700"
    >
      <div class="p-10 flex flex-col justify-center items-center">
        <h1 class="text-3xl font-bold mb-2 text-white">
          Dark Mode PDF Converter
        </h1>
        <p class="text-neutral-400 mb-10 text-center">
          Turn your PDFs into a clean dark-themed version
        </p>

        <!-- Upload Box -->
        <div title="Upload here" class="w-full flex justify-center">
          <form
            action="/upload"
            method="post"
            enctype="multipart/form-data"
            id="uploadForm"
            class="w-full flex flex-col items-center"
          >
            <input
              type="file"
              name="file"
              id="fileInput"
              accept=".pdf"
              hidden
              required
            />

            <label
              for="fileInput"
              class="w-full max-w-lg h-40 flex flex-col items-center justify-center rounded-xl border-2 border-neutral-600 border-dashed bg-neutral-900 text-neutral-400 cursor-pointer hover:border-white hover:text-white transition"
            >
              <span id="fileLabel" class="text-sm">Click to select PDF</span>
            </label>

            <button
              type="submit"
              id="convertBtn"
              class="mt-10 bg-white text-black font-semibold py-3 px-10 rounded-lg shadow-lg hover:bg-neutral-300 transition disabled:bg-neutral-500 disabled:text-neutral-800"
            >
              Convert & Download
              <div id="loader" class="hidden text-xs text-neutral-300 mt-2">
                Processing…
              </div>
            </button>
          </form>
        </div>
      </div>
    </div>
    <footer
      class="flex flex-col items-center justify-around w-full py-16 text-sm bg-[#171717]"
    >
      <h1>PDF Darker</h1>
      <p class="mt-4 text-center">
        Copyright © 2025 PDF Darker. All rights reservered.
      </p>
      <div class="flex items-center gap-4 mt-6">
        <a
          href="https://github.com/hassaanhaider88/PDF_Darker"
          target="_blank"
          class="font-medium text-gray-300 hover:text-white transition-all"
        >
          GitHub Code
        </a>
        <div class="h-4 w-px bg-black/20"></div>
        <a
          href="https://hassaan-haider.netlify.app"
          target="_blank"
          class="font-medium text-gray-300 hover:text-white transition-all"
        >
          Developer
        </a>
      </div>
    </footer>

    <!-- Script -->
    <script>
      const fileInput = document.getElementById("fileInput");
      const fileLabel = document.getElementById("fileLabel");
      const form = document.getElementById("uploadForm");
      const loader = document.getElementById("loader");
      const btn = document.getElementById("convertBtn");

      fileInput.addEventListener("change", (e) => {
        console.log(fileInput);
        if (e.target.files.length > 0) {
          fileLabel.textContent = e.target.files[0].name;
        }
      });

      form.addEventListener("submit", () => {
        loader.classList.remove("hidden");
        btn.disabled = true;
        btn.textContent = "Converting...";

        setTimeout(() => {
          loader.classList.add("hidden");
          btn.disabled = false;
          btn.textContent = "Convert & Download";
        }, 5000);
      });
      
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker
            .register("/static/sw.js")
            .then((reg) => console.log("SW registered", reg))
            .catch((err) => console.log("SW registration failed", err));
        });
      }
    </script>
  </body>
</html>
